<form class="flexcol" autocomplete="off" id="pf1-psrd-importer">
    <h2>Importer</h2>
    <nav class="tabs" id="pf1-psrd-importer-nav">
        <a class="item" data-tab="npc">NPC</a>
    </nav>
    <section id="pf1-psrd-importer-content" class="content">
        <h2>Settings</h2>
        <div class="form-group submenu">
            <label>Generation Folder Name</label>
            <select id="pf1-psrd-importer-actor-folder-name">
                <option></option>
                {{#each actorFolders}}
                <option>{{this}}</option>
                {{/each}}
            </select>
            <p class="notes">
                The Folder in which your actors will be generated
            </p>
        </div>
        <h2>Data</h2>
        <div class="tab" data-tab="npc">
            <div class="tab active">
                <div id="pf1-psrd-importer-npc-class-list" class="settings-list"></div>
            </div>
        </div>
    </section>
</form>