<form class="flexcol" autocomplete="off">
    <section id="pf1-psrd-settings" class="content">
        <div class="tab active">
            <div class="settings-list">
                <h2>Database</h2>

                <div class="form-group submenu">
                    <label>Database File-Browser</label>
                    <button type="button" id="pf1-psrd-importer-database-filepicker">
                        <i class="fas fa-file-import"></i><label>Browse Server</label>
                    </button>
                    <p class="notes">open database file browser to choose a database file on your FoundryVTT server</p>
                </div>

                <div class="form-group submenu">
                    <label>Database URL</label>
                    <input type="text" id="pf1-psrd-importer-database-path" value="{{settings.databasePath}}">
                    <p class="notes">
                        database URL location. You can either choose a file on your FoundryVTT server via the
                        File-Browser above or use an external URL
                    </p>
                </div>

                <h2>Compendium Packs</h2>

                <div class="form-group">
                    <label>Classes</label>
                    <select id="pf1-psrd-importer-packs-classes">
                        {{#each packs}}
                        <option>{{this}}</option>
                        {{/each}}
                    </select>
                    <p class="notes">
                        compendium packs that hold classes
                    </p>
                </div>

                <div class="form-group submenu">
                    <label>Racial HD</label>
                    <select id="pf1-psrd-importer-packs-racialhd">
                        {{#each packs}}
                        <option>{{this}}</option>
                        {{/each}}
                    </select>
                    <p class="notes">
                        compendium packs that hold Racial HDs
                    </p>
                </div>

                <div class="form-group submenu">
                    <label>Feats</label>
                    <select id="pf1-psrd-importer-packs-feats">
                        {{#each packs}}
                        <option>{{this}}</option>
                        {{/each}}
                    </select>
                    <p class="notes">
                        compendium packs that hold Feats
                    </p>
                </div>

                <div class="form-group submenu">
                    <label>Items</label>
                    <select id="pf1-psrd-importer-packs-items">
                        {{#each packs}}
                        <option>{{this}}</option>
                        {{/each}}
                    </select>
                    <p class="notes">
                        compendium packs that hold Items
                    </p>
                </div>

            </div>
        </div>
    </section>
    <footer class="sheet-footer flexrow">
        <button type="button" id="pf1-psrd-importer-settings-cancel">Cancel</button>
        <button type="button" id="pf1-psrd-importer-settings-submit"><i class="far fa-save"></i>Save</button>
    </footer>
</form>